<form class="form-signin" action="index.php" method="post">
	<h2 class="form-signin-heading">Please login in</h2>
	<label for="email" class="sr-only">Email</label>
	<input class="form-control" type="email" name="email" placeholder="Email" required autofocus/>
	<label for="password" class="sr-only">Password</label>
	<input class="form-control" type="password" name="password" placeholder="Password"/>

	<button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="login">Login In</button>
</form>